:root {
  color-scheme: light dark;
  // breakpoints
  --breakpoint-xs: 0px;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --breakpoint-xxl: 1921px;
  --breakpoint: var(--breakpoint-xs);

  // light
  --color-primary-light: #000;
  --color-secondary-light: #282828;
  --bgc-light: #ddd;
  --rgba-contrast-light: 0, 0, 0;
  --rgba-bgc-light: 255, 255, 255;
  --contrast-light: #000000;
  --btn-color-light: #22c55e;

  // dark
  --color-primary-dark: #fff;
  --color-secondary-dark: #fafafa;
  --bgc-dark: #282828;
  --rgba-contrast-dark: 255, 255, 255;
  --rgba-bgc-dark: 0, 0, 0;
  --contrast-dark: #ffffff;
  --btn-color-dark: #91a3fb;

  // margins, paddings
  --section-margin-xs: 30px;
  --section-padding-xs: 30px;

  --section-margin-md: 100px;
  --section-padding-md: 100px;

  --font-size-xs: 13px;
  --font-size-sm: 15px;
  --font-size-md: 18px;
  --font-size-lg: 20px;

  --column-gap-xs: 15px;
  --column-gap-lg: 30px;

  --container-width-xs: 100%;
  --container-width-sm: 540px;
  --container-width-md: 720px;
  --container-width-lg: 960px;
  --container-width-xl: 1140px;
  --container-width-xxl: 1320px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  transition: 0.3s background-color;
}

html {
  scroll-behavior: smooth;
}

body {
  --font-size: var(--font-size-xs);
  margin: 0;
  color: var(--color-secondary);
  font-size: var(--font-size);
  line-height: 1.2em;
  background-color: var(--bgc);
  font-family: 'Montserrat';

  &.no-scroll {
    overflow-y: hidden;
  }

  --section-margin: var(--section-margin-xs);
  --section-padding: var(--section-padding-xs);
  --column-gap: var(--column-gap-xs);
  --column-gutter: calc(var(--column-gap) / 2);
  --negative-column-gutter: calc(var(--column-gutter) * -1);
  --container-width: var(--container-width-xs);

  // set default as light theme
  --color-primary: var(--color-primary-light);
  --color-secondary: var(--color-secondary-light);
  --bgc: var(--bgc-light);
  --contrast: var(--contrast-light);
  --btn-color: var(--btn-color-light);
  --rgba-contrast: var(--rgba-contrast-light);
  --rgba-bgc: var(--rgba-bgc-light);

  &.dark {
    --color-primary: var(--color-primary-dark);
    --color-secondary: var(--color-secondary-dark);
    --bgc: var(--bgc-dark);
    --contrast: var(--contrast-dark);
    --btn-color: var(--btn-color-dark);
    --rgba-contrast: var(--rgba-contrast-dark);
    --rgba-bgc: var(--rgba-bgc-dark);
  }
  @media (min-width: 576px) {
    --font-size: var(--font-size-sm);
    --container-width: var(--container-width-sm);
  }
  @media (min-width: 768px) {
    --section-margin: var(--section-margin-md);
    --section-padding: var(--section-padding-md);
    --font-size: var(--font-size-md);
    --container-width: var(--container-width-md);
  }
  @media (min-width: 992px) {
    --container-width: var(--container-width-lg);
    --font-size: var(--font-size-lg);
    --column-gap: var(--column-gap-lg);
  }
  @media (min-width: 1200px) {
    --container-width: var(--container-width-xl);
  }
  @media (min-width: 1400px) {
    --container-width: var(--container-width-xxl);
  }
}

.section {
  display: block;
  margin: var(--section-margin) 0;
}
.banner {
  padding: var(--section-padding) 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.container {
  // referes to column gap within container
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: var(--container-width);
}
.h1,
h1 {
  font-size: 3em;
  line-height: 1em;
  margin-bottom: 1em;
  margin-top: 1.5em;
  &:first-child {
    margin-top: 0;
  }
  &:last-child {
    margin-bottom: 0;
  }
}
.h2,
h2 {
  font-size: 2.4em;
  line-height: 1em;
  margin-bottom: 1em;
  margin-top: 1.5em;
  &:first-child {
    margin-top: 0;
  }
  &:last-child {
    margin-bottom: 0;
  }
}
.h3,
h3 {
  font-size: 1.5em;
  line-height: 1em;
  margin-bottom: 1em;
  margin-top: 1.5em;
  &:first-child {
    margin-top: 0;
  }
  &:last-child {
    margin-bottom: 0;
  }
}
p {
  margin: 0.7em 0;
  &:first-child {
    margin-top: 0;
  }
  &:last-child {
    margin-bottom: 0;
  }
}
ul {
  margin: 1em 0;
  &:first-child {
    margin-top: 0;
  }
  &:last-child {
    margin-bottom: 0;
  }
}
img {
  display: inline-block;
  object-fit: contain;
  max-width: 100%;
  max-height: 100%;
}

.btn {
  font-size: 1.2rem;
  line-height: normal;
  padding: 4px;
  width: 100%;
  max-width: 100%;
  color: var(--color-primary);
  text-decoration: none;
  display: block;
  text-align: center;
  background-color: var(--btn-color);
  cursor: pointer;
  text-transform: capitalize;
  user-select: none;
  border-radius: 4px;
  &.disabled,
  &:disabled {
    cursor: auto;
    pointer-events: none;
    opacity: 0.5;
  }
  @media (min-width: 1200px) {
    padding: 8px;
  }
}

.custom-scrollbar {
  overflow-y: auto;
  &::-webkit-scrollbar {
    width: 5px;
    border-radius: 5px;
  }
  &::-webkit-scrollbar-track {
    background-color: var(--contrast);
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #3863d9;
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: var(--negative-column-gutter);
  margin-right: var(--negative-column-gutter);
  margin-top: calc(var(--negative-column-gutter) * 2);
}
[class^='col-'],
.col {
  width: 100%;
  padding-left: var(--column-gutter);
  padding-right: var(--column-gutter);
  padding-top: calc(var(--column-gutter) * 2);
}
@for $i from 1 through 12 {
  .col-#{$i} {
    width: calc($i * 100% / 12);
  }
  @media (min-width: 576) {
    .col-sm-#{$i} {
      width: calc($i * 100% / 12);
    }
  }
  @media (min-width: 768px) {
    .col-md-#{$i} {
      width: calc($i * 100% / 12);
    }
  }
  @media (min-width: 992px) {
    .col-lg-#{$i} {
      width: calc($i * 100% / 12);
    }
  }
  @media (min-width: 1200px) {
    .col-xl-#{$i} {
      width: calc($i * 100% / 12);
    }
  }
  @media (min-width: 1400px) {
    .col-xxl-#{$i} {
      width: calc($i * 100% / 12);
    }
  }
}

input,
textarea,
select {
  padding: 10px;
  width: 100%;
  background-color: rgba(var(--rgba-bgc), 0.2);
  border: 1px solid var(--contrast);
  color: var(--color-secondary);
  border-radius: 4px;
  &::placeholder {
    color: #9ca3af;
  }
  &:focus {
    outline: none;
  }
  &:hover,
  &:focus {
    box-shadow: 0 0 10px lightblue;
  }
  &:invalid:not(:placeholder-shown) {
    border-color: red;
  }
}
textarea {
  @media (min-width: 1200px) {
    min-height: 100px;
  }
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}
.tag {
  padding: 5px;
  border-radius: 10px;
  white-space: nowrap;
  // background-color: var(--bgc);
}
